<!--
  Generated template for the Robo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>transfer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
  <ion-list-header>
    BLE Device {{deviceName}} ID {{deviceId}}
  </ion-list-header>
  <ion-list-header>
    Connected is {{BLEConnected}},RSSI {{deviceRSSI}}, Battery is {{batteryLevel}}%
  </ion-list-header>
  <button ion-button small (click)="connectBLE()">{{connectBLEButton}}</button>
  <button ion-button small (click)="getBLEStatus()">BLE Status</button>
  <button ion-button small (click)="notifyTrans()">{{notifyTransCharButton}}</button>
  <button ion-button small (click)="notifyBattery()">{{notifyBatteryButton}}</button>
    <ion-list-header>
    Socket {{socketstatus}}
  </ion-list-header>

  <button ion-button small (click)="connectSocket()">Socket Connect</button>
  <button ion-button small (click)="disconnectSocket()">Socket Disconnect</button>
  <button ion-button small (click)="socketStatus()">Socket Status</button>
  <button ion-button small (click)="sendCMD('logout\n')">Send Logout</button>
  <ion-list-header>
    Login
  </ion-list-header>
  <button ion-button small (click)="sendTelnet()">Send Telnet Packet</button>
  <button ion-button small (click)="sendCMD('cli\n')">Send cli</button>
  <button ion-button small (click)="sendCMD('admin\n')">Send admin</button>
  <button ion-button small (click)="sendCMD('y\n')">Send y</button>
<ion-list-header>
    BLE IP is {{ip}} Target IP is {{targetip}}
  </ion-list-header>
  <button ion-button small (click)="getIP()">Get IP address</button>
  <button ion-button small (click)="getTargetIP()">Get Target IP address</button>
  <button ion-button small (click)="readBatteryLevel()">Read Battery Level</button>
  <ion-label color="primary">Configuration {{cmdresult}}</ion-label>
  <button ion-button small (click)="changeBLEName()">Change BLE Name</button>
  <button ion-button small (click)="changeIP()">Change IP address</button>
  <button ion-button small (click)="changeTargetIP()">Change Target IP address</button>
  <button ion-button small (click)="changeTargetIP('172.16.0.1/23')">Reset Target IP</button>
  
  <ion-list-header>
    CLI
  </ion-list-header>
  <ion-item>
    <ion-label color="primary">Send</ion-label>
    <ion-input type="text" name="cli_input" placeholder="cli command/BLE name/IP here" required [(ngModel)]="cli"></ion-input>
  </ion-item>
  </ion-list>
  <button ion-button small (click)="sendCMD()">Send CLI Command</button>
  <button ion-button small (click)="sendCMD('show slot *\n')">Show slot *</button>
  <button ion-button small (click)="sendCMD('show condition\n')">Show condition</button>
  <button ion-button small (click)="sendCMD('show log general\n')">Show log general</button>
  <button ion-button small (click)="sendCMDPageing()">{{pagingButton}}</button>


  <ion-list-header>
    Result Last Notify on {{notifyTransTimestamp}} {{cmdresult}}
  </ion-list-header>
  <ion-label>{{result}}</ion-label>

  

  <button ion-button small (click)="startRecord()">{{recordButton}}</button>
  <button ion-button small (click)="clearResult()">Clear Result</button>
  <button ion-button small (click)="cliOutput()">{{cliOutputButton}}</button>
  <ion-list *ngIf ="showCLIoutput">
  <ion-label *ngFor ="let clioutputline of clioutput">
    {{clioutputline}}
  </ion-label>
  </ion-list>
  
    <ion-item-divider color="light">Received</ion-item-divider>
  <ion-item *ngFor ="let receive of receiveList">
    {{receive}}
  </ion-item>
  
  
    <ion-item-divider color="light">Send</ion-item-divider>
  <ion-item *ngFor="let send of sendList">
    {{send}}
  </ion-item>
  
    
</ion-content>
